
.top_button_div{
    display:flex;
    align-items:center;
    flex-direction: column;
    cursor: pointer;
}
.welcome_text{    
    font-size: 80px;    
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5), 0px 0px 40px rgba(164, 183, 245, 0.5);
    line-height: 116px;
}
@media (max-width:1000px) {
    .welcome_text{
        font-size: 60px;    
        line-height: 48px;;
    }
}
.top_button{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: 2px solid #FFFFFF;    
    width: 266px;
    height: 54px;    
    color: #FFFFFF;    
    font-size: 24px;
    line-height: 35px;
}


.second_head_pic_div{
    flex:1;
    max-width: 500px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-left:100px;        
}
@media (max-width:1000px) {
    .second_head_pic_div{
        display:none;
    }
}
.second_head_pic{
    width:80%;
    height:auto;
}
.second_text1{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 35px;
    margin-bottom:10px;
}
.second_text2{    
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 80px;
    padding-right: 20px;
    text-shadow: 0px 17px 20px #100C10;            
}
.second_text3{
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF88;
    line-height: 36px;
    margin-top:10px;
    text-align:left;
    width:600px;
}
.second_content{
    flex:1;    
    display:flex;
    flex-direction: column;
    align-items: flex-start;    
    position: relative;
    margin-top:112px;    
    margin-left:50px;
    padding-right: 50px;
}
.second_text4{
    margin-top:20px;
    font-size: 24px;
    font-weight: 500;
    color: #C47BF1;
    line-height: 36px;    
}
.second_text5{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 36px;    
    text-align:left;
    margin-bottom: 50px;
}
.intro_section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
    padding:0 50px;
}
@media (max-width:1000px) {
    .intro_section{        
        padding:0 50px;
    }
}
.intro_text1{
    margin-top:145px;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 87px;
    -webkit-text-stroke: 1px #979797;
    text-stroke: 1px #979797;    
}
.intro_pic_div{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top:35px;
}
.intro_item{
    cursor: pointer;
    width: 30%;
     /* default is aspect ration 1:1 */
    position: relative;
}


.intro_item_rect1{
    position: absolute;
    top:-10px;
    left:10px;
    width: 100%;
    height:100%;
    background: #C47BF1;    
    border-radius: 8px
}

.intro_company{
    margin-top: 140px;    
    width:100%;
    display: flex;    
    justify-content: center;
    align-items:center;
}
.intro_company img{    
    width:100%;
}

.about{
    display:flex;
    flex-direction: column;
    align-items:center;    
}
.title1{
    margin-top:50px
}
.about_list{
    margin-top:30px;
    display:flex;
    width:100%;    
    justify-content: space-around;
}
.contact_list{
    margin-top:30px;
    display:flex;
    width:100%;    
    justify-content: center;
    align-items: center;    
}
.contact_list img{
    width:80px;            
    cursor: pointer;
    margin:0 20px;
}

.copyright{ 
    margin-bottom:45px;
    margin-top:10px;
}
.copyright_text{
    text-align: right;
    margin-top:20px;
    margin-right:50px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF88;
    line-height: 35px;
}
.about_list .text1{
    cursor: pointer;
}
@media (min-width: 751px) {    
    .topsection{
        background: url(../../../assets/top_back.png);
        background-repeat: no-repeat;
        background-size: cover;       
        position: relative;        
    }
    .top_hidden_back{
        width:100%; 
        visibility: hidden;       
    }
    .top_content{
        position: absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;        
    }
    .top_button_div{
        width:1000px;        
        margin-right: 50px;
        justify-content: center;        
    }
    .top_button{
        font-weight: bold;
    }
    .second_section{
        background: url(../../../assets/second_back.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .second_content{
        min-width:680px;
    }
}
@media (max-width: 750px) {
    .topsection{
        background: url(../../../assets/top_back_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;   
    }
    .top_hidden_back{
        display: none;
    }
    .welcome_text{        
        font-size: 38px;        
        font-weight: 800;
        color: #FFFFFF;
        line-height: 38px;
        letter-spacing: 1px;
        text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5), 0px 0px 40px rgba(164, 183, 245, 0.5);
    }
    
    .top_button_div{
        width: 100%;
        margin-top:375px;
        margin-bottom:200px;
    }
    .top_button{
        width:120px;
        height:25px;
        font-size:14px; 
    }    
    .second_section{
        background: url(../../../assets/second_back_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .second_text1{
        font-size:14px;
        margin-bottom:0px;
        padding-left:100px;
    }
    .second_text2{
        font-size: 23px;
        line-height: 30px;
        padding-left:100px;
        padding-right: 0px;
    }
    .second_text3{
        font-size:14px;
        width: 100%;
        line-height:20px;
        padding-left:100px;                
    }
    
    .second_content{
        margin-left: 20px;
        padding-right:20px;
        margin-top: 100px;
    }
    .second_text4{
        margin-top:50px;
        font-size:16px;
        line-height:24px;
    }
    .second_text5{
        margin-top: 30px;
        font-size: 14px;
        line-height: 25px;
    }
    .second_head_pic{
        width:135px;
        position: absolute;
        top:35px;
    }
    .intro_section{
        padding:0 50px;
    }
    .intro_text1{
        margin-top:30px;
        font-size:32px;
    }
    .intro_pic_div{
        flex-direction: column;        
    }
    .intro_item{        
        width:100%;
        margin-top:20px;
    }
    .intro_company{
        margin-top:50px;
    }
    .about{
        align-items: flex-start;
        margin-left:20px;
    }
    .about_list{
        margin-top:10px;
        justify-content: flex-start;
    }
    .title1{
        margin-top:15px;
        font-size:14px;        
    }
    .text1{
        font-size:12px;
        margin-right: 10px;
    }
    .copyright{
        margin-bottom: 10px;
    }
    .copyright_text{
        font-size:16px;
        margin-right:0;
        margin-top:10px;
        text-align: center;    
    }
    .contact_list{
        margin-top:10px;
        display:flex;
        width:100%;    
        justify-content: flex-start;
        align-items: center;    
    }
    .contact_list img{
        width:40px;        
        margin:0 10px;

    }
}

