.main{    
    width:100%;    
    background: url(../../../assets/common_back.png);
    background-repeat: no-repeat;
    background-size: cover;       
    position: relative;     
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_title{
    margin-top:150px;
}
@media (max-width: 750px) {
    .top_title{        
        margin-top: 100px;
    } 
}
.connect_btn{    
    background: #964FC2;
    border-radius: 28px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    padding:10px 20px;
    margin-top: 25px;
    cursor: pointer;
}
@media (max-width: 750px) {
    .connect_btn{        
        font-size: 14px;
        padding:5px 15px;
    } 
}
.openbox_btn{
    background: #964FC2;
    border-radius: 8px;    
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 25px;
    padding:10px 20px;
    cursor: pointer;
}
@media (max-width: 750px) {
    .openbox_btn{        
        font-size: 14px;
        padding:5px 15px;
    }
}
.empty_text{
    margin-top:130px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF88;
    line-height: 22px;    
}
@media (max-width: 750px) {
    .empty_text{        
        font-size: 14px;
        margin-top:80px;
    } 
}
.empty_icon{
    width:415px;
    margin-top:25px;
}
/* Mobile */
@media (max-width: 750px) {
    .empty_icon{
        width:250px;
    } 
}